# Create A tuple

- immutable ordered collection of elements

In [1]:
my_tuple1=(1,5,"hi",9.9)

In [2]:
type(my_tuple1)

tuple

In [3]:
my_tuple2=1,5,"hi",9.9

In [4]:
type(my_tuple2)

tuple

In [5]:
my_tuple3=(1)

In [6]:
type(my_tuple3)

int

In [7]:
my_tuple5=1

In [8]:
type(my_tuple5)

int

In [9]:
my_tuple6=1,
my_tuple7=(1,)

In [10]:
type(my_tuple6)

tuple

In [11]:
type(my_tuple7)

tuple

# Selection and indexing

In [12]:
my_tuple1[0]

1

In [13]:
my_tuple1[1:4]

(5, 'hi', 9.9)

In [14]:
my_tuple1[1]=3

TypeError: 'tuple' object does not support item assignment

# Set

it is unordered collection of unique elements

# Create a Set

In [15]:
my_set1={1,'hi',2,2,3,4,4,4,4,4,5}

In [16]:
type(my_set1)

set

In [17]:
my_set1

{1, 'hi', 3, 2, 4, 5}

In [18]:
my_set2=set()

In [19]:
type(my_set2)

set

In [20]:
my_set2

set()

In [21]:
my_set2.add(1)

In [22]:
my_set2

{1}

In [26]:
my_set3=set('appleisgood')

In [24]:
my_set3

{'a', 'd', 'e', 'g', 'i', 'l', 'o', 'p', 's'}

In [27]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [29]:
set.update?

In [30]:
set1=set('apple')
set2=set('banana')

In [31]:
set1-set2

{'e', 'l', 'p'}

In [32]:
set2-set1

{'b', 'n'}

In [33]:
set1.difference(set2)

{'e', 'l', 'p'}

In [34]:
set1 | set2

{'a', 'b', 'e', 'l', 'n', 'p'}

In [35]:
set1.union(set2)

{'a', 'b', 'e', 'l', 'n', 'p'}

In [36]:
set3={4,8,9}

In [37]:
list_new= list(set3)

In [38]:
list_new

[8, 9, 4]

In [39]:
set1 & set2

{'a'}

In [40]:
set1.intersection(set2)

{'a'}

In [41]:
set1 ^ set2

{'b', 'e', 'l', 'n', 'p'}

In [43]:
set1

{'a', 'e', 'l', 'p'}

In [44]:
set1.symmetric_difference_update(set2)

In [45]:
set1

{'b', 'e', 'l', 'n', 'p'}